name: Release

permissions:
    contents: write
    actions: write
    id-token: write

on:
    workflow_dispatch:
        inputs:
            releaseVersion:
                type: string
                required: true
                description: The version of this release. Must be a semantic version of the form X.Y.Z.

jobs:
    release:
        runs-on: ubuntu-latest
        environment: production
        steps:
            - name: Checkout Javascript
              uses: actions/checkout@v6.0.1
            - name: Setup Node
              uses: actions/setup-node@v6
              with:
                  node-version: '20'
                  registry-url: 'https://registry.npmjs.org'
            - name: Install dependencies
              run: npm install
            - name: update npm
              run: npm install -g npm@11.5.1
            - name: Upload release
              run: npm publish --access public --tag ${{ github.event.inputs.releaseVersion }}
            - name: Tag release
              run: |
                  git config --global user.name 'Github Bot'
                  git config --global user.email '<>'
                  git tag ${{ github.event.inputs.releaseVersion }}
            - name: Push tag
              if: ${{ github.event.inputs.dry_run != 'true' }}
              run: |
                  git push origin ${{ github.event.inputs.releaseVersion }}
